
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
  overflow: auto;
}

.modal-content-register {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 700px;
  max-width: 90%; 
  height: 90%;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  
}
.modal-content-register h2{
  color: #226D68;
  font-size: 32px;
  padding: 30px 0 30px 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.grp-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.form-group label {
  color: #226D68;
  font-weight: bold;
  display: block;
  font-size: 20px;
  margin-bottom: 5px;
}

.form-group input {
  width: 60%;
  padding: 8px;
  border-radius: 40px;
  
}
.forget-password{
  margin-bottom: 20px;
  text-decoration: underline;
  color: #226D68;
  font-weight: bold;

}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #226D68;
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.custom-file-upload:hover {
  background-color: #226D68;
  color: white;
}

.image-preview {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.modal-title{
  font-size: 48px;
    text-align: center;
    color: #226D68;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(to right, #226D68, #34a853);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
#groupLocation, #groupDescription, #groupName{
  border: solid 2px grey;

}