/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

:root {
  --primary-color: #db3434; /* couleur primaire */
  --secondary-color: #2ecc71; /* couleur secondaire */
  --background-color: #f5f5f5; /* couleur de fond */
  --text-color: #333333; /* couleur du texte */
  /* Ajoutez d'autres variables de couleur selon les besoins */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--background-color);
}


.edit-icons {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.icon {
  font-size: 30px;
  cursor: pointer;
  color: #4f766f;
}

.check-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-check {
  text-align: center;
  font-size: 25px;
  color: white;
}

.icon-off {
  font-size: 25px;
}

.publish-btn {
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #4f766f;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.publish-btn:hover {
  background-color: #63aa9d;
}

.unpublish-btn {
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ab5555;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
}

.unpublish-btn:hover {
  background-color: #c76262!important;
}
.custom-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 20px 20px rgba(0, 0, 0, 0.1);
}


.like-icon{
  color: white;
  font-size: 20px;
}
.comment-btn{
  border: solid 2px;

}
.comment-btn:hover{
  border: solid 2px #35aaa2;
  color: #35aaa2;
  background-color: white!important;

}
.like-btn:hover{
  
  background-color: #298680!important;

}