form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form div {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #003d33;
}

input[type="text"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f8f8f8;
    transition: border-color 0.3s;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #003d33;
    outline: none;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #003d33;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

button:not(:disabled):hover {
    background-color: #00594c;
}

.group-details-container {
    justify-content: center;
      display: flex;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      text-align: center;
      
    }
    .group-details-container .group-title {
      margin-bottom: 10px;
      border-bottom: 0;
    }
    .group-details-container p {
      margin: 5px 0;
    }

    .custom-file-upload {
        text-align: center;
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
        background-color: #ffffff;
        border: 1px solid #226D68;
        color: #226D68;
        border-radius: 4px;
        font-weight: bold;
      }
      
      .custom-file-upload:hover {
        background-color: #226D68;
        color: white;
      }
      
      .image-preview {
        margin-top: 10px;
        max-width: 100%;
        height: auto;
        border-radius: 4px;
      }

      .error-message {
        color: red;
        font-size: 14px;
        margin-top: 5px;
      }