.groupeCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  height: 500px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* Ombre */
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .CTA-group{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

}
.title-group {
  text-align: center;
  font-size: 1.5rem;
  margin: 10px 0;
}

.groupeIllustration {
  display: flex;
  width: 100%;
  height: 50%;
  justify-content: center;
  margin-bottom: 10px;
}

.groupeImg {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.authorIcon {
  border-radius: 40px;
}

.nbMembres {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.groupeBtn-container {
  display: flex;
  justify-content: center;
}

.groupeBtn {
  cursor: pointer;
  display: inline-block;
  background-color: #226d68;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
}

.groupeDescription {
  text-align: center;
  margin-bottom: 20px;
  padding: 0 20px;
  color: #24355A;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .groupeCard {
    max-width: 90%;
    padding: 15px;
    height: 500px;
  }

  .title-group {
    font-size: 1.25rem;
  }

  .nbMembres {
    font-size: 0.875rem;
  }

  .groupeBtn {
    width: 100%;
    padding: 8px;
  }

  .groupeDescription {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .groupeCard {
    max-width: 95%;
    padding: 10px;
    height: 500px;
  }

  .title-group {
    font-size: 1.125rem;
  }

  .nbMembres {
    font-size: 0.75rem;
  }

  .groupeBtn {
    width: 100%;
    padding: 8px;
  }

  .groupeDescription {
    padding: 0 5px;
  }
}

.custom-shadow {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0px 10px 20px 20px rgba(0, 0, 0, 0.1);
}
