body{
  background-color: #fbfbfb;

}
.titleApp{
  background-color: #18534f;
  width: 200px;
  color: white;
  border-radius: 5px;
  text-align: center;
  padding:10px
}
.sectionService h2{


}
.serviceCardList{
  display: flex;
  justify-content: center;

}
.serviceIconContainer{
  height: 50%;
  background-color: white;

}


