.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0c473e;
    font-weight: bold;
}

.containerButtons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

}