/* events.css */

.content-page {
    padding: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
  }

.title-section {
    font-size: 48px;
    text-align: center;
    color: #226D68;
    margin: auto;
    margin-bottom: 30px;
    width: fit-content;
    position: relative;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(to right, #226D68, #34a853);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 1s ease-in-out;
}

.title-section::before,
.title-section::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #34a853;
    position: absolute;
    bottom: 0;
}

.title-section::before {
    left: -60px;
}

.title-section::after {
    right: -60px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .title-section {
        font-size: 32px;
    }

    .title-section::before,
    .title-section::after {
        width: 30px;
    }
}

.event-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
    gap: 40px;
}

.loading-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.spinner {
    animation: rotate 1s linear infinite;
    transform-origin: center center;
    width: 50px;
    height: 50px;
}

.path {
    stroke: #18534f;
    stroke-linecap: round;
    animation: dash 3s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
