@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 15px;
  display: flex;
  background-color: #18534F;
  width: 100%;
  color: white;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  
}

@media (min-width: 768px) {
    header {
        height: 100px;
        
      }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo p {
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 24px;
}

.header-nav {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-grow: 1;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.header-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
  z-index: 12;
}

.burger-menu div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: all 0.3s ease;
}

.menu-overlay {
  display: none;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .header-logo {
    justify-content: flex-start;
  }

  .header-nav {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #18534F;
    padding: 10px 0;
  }
  .header-right {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
  .header-nav.active {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 11;
  }

  .header-nav a {
    width: 100%;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid white;
    font-size: 24px;
  }

  .header-nav a:last-child {
    border-bottom: none;
  }

  .header-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .header-profile p {
    margin: 10px 0;
  }

  .burger-menu {
    display: flex;
  }

  .header-logo p {
    font-size: 20px;
  }

  .menu-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
}

a {
  color: white;
  text-decoration: none;
}

.signout-btn {
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: #9b4848;
  font-weight: bold;
  cursor: pointer;
}

.signout-btn:hover {
  background-color: #c56161 !important;
}
