.modal-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-comment-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    overflow-y: auto; /* Ajout de la propriété overflow-y pour permettre le défilement vertical */
    max-height: 80%;
  }
  
  .close-comment {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-comment:hover,
  .close-comment:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .comment {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    width: 100%;
  }
  .comment-content{
    width: 60%;
    word-wrap: break-word;
    
  }

  .new-comment{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 60px;
    margin-bottom: 30px;
  }
  
  .new-comment textarea {
    
    box-sizing:border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    resize: none;
  }
  
.comment-date{
  font-style: italic;
  font-size: 14px;
}
.comment-author{
  padding-right: 10px;
  border-right: solid 2px #226d68;

  width: 30%;

}

.comment-username{
  color:#226d68;
}

.postTitle-comments{
  text-align: center;
  color:#226d68;
  font-weight: bold;
  margin-bottom: 20px;
}

