.post-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
}

.group-list{
    display: flex;
    justify-content: space-around;
}

.event-list{
    display: flex;
    justify-content: space-around;
}