.group-details-container {
  justify-content: center;
    display: flex;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    
  }
  .group-details-container .group-title {
    margin-bottom: 10px;
    border-bottom: 0;
  }
  .group-details-container p {
    margin: 5px 0;
  }
  .leave-btn {
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .leave-btn:hover {
    background-color: #c9302c;
  }

  .post-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
  }



  .title-section {
    font-size: 48px;
    text-align: center;
    color: #226D68;
    margin: auto;
    margin-bottom: 30px;
    width: fit-content;
    position: relative;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: linear-gradient(to right, #226D68, #34a853);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: fadeIn 1s ease-in-out;
  }
  
  .title-section::before,
  .title-section::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background-color: #34a853;
    position: absolute;
    bottom: 0;
  }
  
  .title-section::before {
    left: -60px;
  }
  
  .title-section::after {
    right: -60px;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width: 768px) {
    .title-section {
      font-size: 32px;
    }
  
    .title-section::before,
    .title-section::after {
      width: 30px;
    }
  }